body{
    font-family: sans-serif;
    font-weight: 600;
    background: #454545;
    color: #b9b9b9;
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    text-shadow: -2px 2px hsla(0, 0%, 70%, .4),
                 -1px 1px hsla(0, 0%, 60%, .2),
                 -1px 1px hsla(0, 0%, 70%, .2),
                 -1px 1px hsla(0, 0%, 70%, .2),
                 0px 0px hsla(0, 0%, 50%, .5),
                 1px -1px hsla(0, 0%, 30%, .6),
                 1px -1px hsla(0, 0%, 30%, .7),
                 1px -1px hsla(0, 0%, 32%, .8),
                 2px -2px hsla(0, 0%, 30%, .9),
                 3px -3px hsla(0, 0%, 30%, 1.0);
}

h3{
    margin-left: 15px;
}

.center{
    text-align: center;
}

hr{
    box-shadow: -2px 2px hsla(0, 0%, 70%, .4),
                 -1px 1px hsla(0, 0%, 60%, .2),
                 -1px 1px hsla(0, 0%, 70%, .2),
                 -1px 1px hsla(0, 0%, 70%, .2),
                 0px 0px hsla(0, 0%, 50%, .5),
                 1px -1px hsla(0, 0%, 30%, .6),
                 1px -1px hsla(0, 0%, 30%, .7),
                 1px -1px hsla(0, 0%, 32%, .8),
                 2px -2px hsla(0, 0%, 30%, .9),
                 3px -3px hsla(0, 0%, 30%, 1.0); 
}

#reflex{
    height: 100px;
    width: 100px;
    background: #123988;
    position: relative;
    border: 2px solid #fff;
}